.header
    height: 70px
    display: flex
    justify-content: center
    &-wrapper
        display: flex
        align-items: center
        flex-direction: row
    &-list
        display: flex
        flex-direction: row
        align-items: center
        list-style-type: none
        &__el
            margin-left: 30px
            text-decoration: none
            color: inherit
            font-weight: normal
            font-size: 18px
            line-height: 21px
        &__number
            margin-left: 170px
            font-weight: bold
            font-size: 24px
            line-height: 28px
.logo
    &-header
        display: flex
        align-items: center
        text-decoration: none
        color: inherit
    &-image
        width: 50px
        height: 50px
    &-text
        margin-left: 10px
        margin-top: 1px
        font-family: Cambria
        font-style: normal
        font-weight: normal
        font-size: 24px
        line-height: 28px
        color: $main-gray
.button
    &-modal
        margin-left: 30px
        width: 176px
        height: 28px
        border-radius: 7px
        border: none
        font-family: Arial
        font-style: normal
        font-weight: bold
        font-size: 18px
        line-height: 21px
        background-color: $main-gray
        color: $main-white
        text-decoration: none
