@media (max-width: 1200px)
    .special
        display: none
    .catalog
        &__container
            max-width: 960px
    .contacts
        display: none
    .feedback
        &__container
            border: 2px solid green
            width: 960px
    .footer
        display: none
    .header
        &-list
            &__number
                margin-left: 30px
                font-size: 20px
            &__el
                font-size: 16px
                margin-left: 20px
        &-container
            border: 2px solid red
            max-width: 960px
    .container
        &-about
            max-width: 960px
@media (max-width: 992px)
    .header
        &-container
            border: 2px solid blue
            max-width: 720px
        &-list
            padding-left: 0
            &__number
                font-weight: bold
                font-size: 16px
                line-height: 18px
                margin-left: 44px
            &__el
                font-style: normal
                font-weight: normal
                font-size: 14px
                line-height: 16px
                margin-left: 15px
    .logo
        &-image
            width: 40px
            height: 40px
        &-text
            font-size: 16px
            margin-left: 5px
    .button
        &-modal
            font-weight: bold
            width: 133px
            height: 24px
            margin-left: 15px
            font-size: 14px
            line-height: 16px
    .container-about
        max-width: 720px
        border: 2px solid blue
    .text__h1
        font-size: 42px
    .text__h2-pink
        font-size: 28px
    .about
        height: 298px
        &__description
            font-size: 16px
            height: 51px
    .button
        &__main
            width: 211px
            height: 39px
            font-size: 18px
            line-height: 21px
    .advantages
        &__item
            display: grid
            grid-template-columns: 1fr
            grid-template-rows: 1fr
            grid-gap: 35px
        &__container
            border: 2px solid blue
            width: 720px
    .component
        &-header
            font-size: 18px
            line-height: 11px
        &-description
            font-size: 14px
            line-height: 15px
    .text__h2
        font-size: 28px
        font-weight: bold
    .catalog
        &__container
            max-width: 720px
    .contacts
        display: none
    .feedback
        &__container
            border: 2px solid green
            width: 720px
    .footer
        display: none
@media (max-width: 768px)
    .header
        &-container
            max-width: 576px
        &-list
            padding-left: 5px
            &__number
                font-size: 14px
                margin-left: 5px
            &__el
                font-size: 12px
                margin-left: 8px
    .logo
        &-image
            width: 30px
            height: 30px
        &-text
            font-size: 14px
            margin-left: 3px
    .button
        &-modal
            margin-left: 8px
            max-width: 118px
            max-height: 20px
            font-size: 12px
    .container-about
        width: 576px
    .text__h1
        font-size: 28px
        line-height: 30px
    .text__h2-pink
        font-size: 26px
        line-height: 28px
    .about
        height: 255px
        &__description
            font-size: 14px
            line-height: 105%
    .button__main
        margin-top: 15px
    .advantages
        &__container
            max-width: 576px
        &__item
            display: grid
            grid-template-columns: 1fr
            grid-template-rows: 1fr
        &__container
            border: 2px solid blue
            width: 720px
    .component
        &-header
            font-size: 16px
            line-height: 11px
        &-description
            font-size: 14px
            line-height: 16px
    .text__h2
        font-size: 26px
        line-height: 28px
        font-weight: bold
    .catalog
        &__container
            max-width: 576px
        &-wrapper
            &__one
                grid-column-gap: 15px
            &__two
                grid-column-gap: 15px
                grid-row-gap: 15px
                grid-template-columns: 1fr 1fr
                grid-template-rows: 1fr 1fr
        &__button
            padding: 5px 5px 5px 5px
    .splide
        &__img
            width: 160px
            height: 160px
    .contacts
        display: none
    .feedback
        &__container
            border: 2px solid green
            width: 576px
    .footer
        display: none
    .reviews
        display: flex
        justify-content: space-between
        gap: 10px
        &__container
            margin-left: 0
    .button
        &__review
            width: 211px
            height: 39px
            font-size: 18px
            line-height: 21px
@media (max-width: 576px)
    .header
        &-container
            max-width: 320px
        &-list
            padding-left: 0
            &__number
                width: 104px
                font-size: 12px
                line-height: 14px
                margin-left: 45px
            &__el
                display: none
    .logo
        &-image
            margin-right: 5px
        &-text
            font-size: 14px
            line-height: 15px
    .button
        &-modal
            display: none
    .menu-button
        padding: 0
        margin-left: 35px
        background-color: inherit
        border: none
        display: block
        &-link
            cursor: pointer
    .container-about
        max-width: 320px
    .text__h1
        font-size: 28px
        line-height: 30px
    .text__h2-pink
        font-size: 26px
        line-height: 28px
    .about
        height: 255px
        &-information
            display: flex
            align-items: center
            &__text
                display: flex
                align-items: center
                flex-direction: column
        &__description
            text-align: center
            font-size: 12px
            line-height: 105%
    .button__main
        margin-top: 15px
    .advantages
        &__container
            border: 2px solid blue
            max-width: 320px
        &__item
            display: grid
            grid-template-columns: 1fr
            grid-template-rows: 1fr
    .component
        &-header
            font-size: 16px
            line-height: 11px
        &-description
            font-size: 14px
            line-height: 15px
    .text__h2
        text-align: center
        font-size: 22px
        line-height: 25px
    .catalog
        &__container
            width: 320px
        &-wrapper
            &__one
                display: none
            &__two
                display: none
    .splide
        &__list
            display: grid
            grid-template-columns: 1fr 1fr
            gap: 0px
            column-gap: 15px
            margin-top: 0
        &__img
            width: 120px
            height: 120px
            &-last
                display: none
        &__name
            display: flex
            justify-content: center
            margin-bottom: 15px
            font-size: 18px
            font-weight: 600
    .feedback
        &__container
            border: 2px solid green
            width: 320px
    .swiper
        display: block
    .reviews
        display: none
