@media (max-width: 1200px)
    .special
        display: none
    .catalog
        display: none
    .contacts
        display: none
    .feedback
        display: none
    .footer
        display: none
    .header
        &-list
            &__number
                margin-left: 30px
                font-size: 20px
            &__el
                font-size: 16px
                margin-left: 20px
        &-container
            border: 2px solid red
            max-width: 960px
    .container
        &-about
            max-width: 960px
@media (max-width: 992px)
    .header
        &-container
            border: 2px solid blue
            max-width: 720px
        &-list
            padding-left: 0
            &__number
                font-weight: bold
                font-size: 16px
                line-height: 18px
                margin-left: 44px
            &__el
                font-style: normal
                font-weight: normal
                font-size: 14px
                line-height: 16px
                margin-left: 15px
    .logo
        &-image
            width: 40px
            height: 40px
        &-text
            font-size: 16px
            margin-left: 5px
    .button
        &-modal
            font-weight: bold
            width: 133px
            height: 24px
            margin-left: 15px
            font-size: 14px
            line-height: 16px
    .container-about
        max-width: 720px
        border: 2px solid blue
    .text__h1
        font-size: 42px
    .text__h2-pink
        font-size: 28px
    .about
        height: 298px
        &__description
            font-size: 16px
            height: 51px
    .button
        &__main
            width: 211px
            height: 39px
            font-size: 18px
            line-height: 21px
    .advantages
        &__item
            display: grid
            grid-template-columns: 1fr
            grid-template-rows: repeat(3, 1fr)
        &__container
            border: 2px solid blue
            width: 720px
    .component
        border: 2px solid blue
        &-header
            font-size: 18px
            line-height: 11px
        &-description
            font-size: 14px
            line-height: 15px
    .text__h2
        font-size: 28px
        font-weight: bold
    .catalog
        display: none
    .contacts
        display: none
    .feedback
        display: none
    .footer
        display: none
@media (max-width: 768px)
    .header
        &-container
            width: 576px
        &-list
            padding-left: 5px
            &__number
                font-size: 14px
                margin-left: 5px
            &__el
                font-size: 12px
                margin-left: 8px
    .logo
        &-image
            width: 30px
            height: 30px
        &-text
            font-size: 14px
            margin-left: 3px
    .button
        &-modal
            margin-left: 8px
            max-width: 118px
            max-height: 20px
            font-size: 12px
    .container-about
        width: 576px
    .text__h1
        font-size: 28px
        line-height: 30px
    .text__h2-pink
        font-size: 26px
        line-height: 28px
    .about
        height: 255px
        &__description
            font-size: 14px
            line-height: 105%
    .button__main
        margin-top: 15px
    .advantages
        &__container
            max-width: 576px
        &__item
            display: grid
            grid-template-columns: 1fr
            grid-template-rows: repeat(3, 1fr)
        &__container
            border: 2px solid blue
            width: 720px
    .component
        border: 2px solid blue
        &-header
            font-size: 16px
            line-height: 11px
        &-description
            font-size: 14px
            line-height: 16px
    .text__h2
        font-size: 26px
        line-height: 28px
        font-weight: bold
    .catalog
        display: none
    .contacts
        display: none
    .feedback
        display: none
    .footer
        display: none
@media (max-width: 576px)
    .header
        &-container
            max-width: 320px
        &-list
            padding-left: 0
            &__number
                width: 104px
                font-size: 12px
                line-height: 14px
                margin-left: 31px
            &__el
                display: none
    .logo
        &-image
            margin-right: 5px
        &-text
            font-size: 11px
            line-height: 13px
    .button
        &-modal
            display: none
    .menu-button
        padding: 0
        margin-left: 48px
        background-color: inherit
        border: none
        display: block
        &-link
            cursor: pointer
    .container-about
        max-width: 320px
    .text__h1
        font-size: 28px
        line-height: 30px
    .text__h2-pink
        font-size: 26px
        line-height: 28px
    .about
        height: 255px
        &-information
            display: flex
            align-items: center
            &__text
                display: flex
                align-items: center
                flex-direction: column
        &__description
            text-align: center
            font-size: 12px
            line-height: 105%
    .button__main
        margin-top: 15px
